# Base de datos PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=

# Backend Spring Boot
BACKEND_PORT=
SPRING_JPA_HIBERNATE_DDL_AUTO=
SPRING_SQL_INIT_MODE=
JWT_SECRET=
JWT_EXPIRATION=

# Frontend Nginx
FRONTEND_PORT=
