@use "../00-settings/variables" as *;

.app-main {
        display: block;
        min-height: 100vh;
        padding-top: 6.75rem;
        background: var(--bg);
        transition: padding-top var(--transition-base) ease;

        &--scrolled {
                padding-top: 4rem;
        }
}