@use "../../00-settings/variables" as *;
@use "../../01-tools/mixins" as mixins;

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-xs);
	padding: var(--spacing-md) var(--spacing-lg);
	border-radius: var(--radius-md);
	@include mixins.typography(paragraph);
	font-weight: var(--font-weight-700);
	line-height: var(--line-height-normal);
	text-decoration: none;
	border: 1px solid transparent;
	cursor: pointer;

	&--sm {
		padding: var(--spacing-xs) var(--spacing-md);
		@include mixins.typography(small);
		font-weight: var(--font-weight-600);
	}

	&--md {
		padding: var(--spacing-md) var(--spacing-lg);
		@include mixins.typography(paragraph);
		font-weight: var(--font-weight-700);
		line-height: var(--line-height-normal);
	}

	&--lg {
		padding: var(--spacing-lg) var(--spacing-xl);
		@include mixins.typography(button);
		font-weight: var(--font-weight-700);
		line-height: var(--line-height-normal);
	}

	&--full-width {
		width: 100%;
	}

	&--primary {
		background: $button-primary-default;
		border-color: $button-primary-default;
		color: $text-dark;

		cursor: pointer;
		transition: background var(--transition-fast) ease, border-color var(--transition-fast) ease;

		&:hover {
			background: $button-primary-hover;
			border-color: $button-primary-hover;
		}

		&:active {
			background: $button-primary-clicked;
			border-color: $button-primary-clicked;
		}
	}

	&--secondary {
		background: $button-secondary-default;
		border-color: $border-button-secondary-light;
		color: $text-important-light;

		cursor: pointer;
		transition: background var(--transition-fast) ease, border-color var(--transition-fast) ease;

		&:hover {
			background: $button-secondary-hover;
		}

		&:active {
			background: $button-secondary-clicked;
		}
	}

	&--ghost {
		background: $button-secondary-default;
		border-color: $border-button-light;
		color: $text-dark;
		@include mixins.disabled();
	}
}